body {
	background-color:black;
}

nav {
	min-height:10vh;
	max-height:10vh;
}

@media (max-width:900px) {
	.navbar-brand {
		font-size:5vw;
	}
}

.navbar-brand {
	font-size:3vw;
}

.carouselImage {
	position:relative;
	width:100vw; 
	height:100vh;
	background-size:cover;
	background-position:center;
}

.articleLink h1 {
	font-size:30px;
}
@media (max-width:500px)
{
	.articleLink h1 {
		font-size:6vw;
	}
}

	
.articleLink:hover, .profileLink:hover {
	text-decoration:none;
}

.carousel-control {
	visibility:hidden;
}

#sortSelector {
	position:absolute;
	right:5vw;
	top:8px;
}
