body {
	background-color:black;
}

nav {
	min-height:10vh;
	max-height:10vh;
}

.nav {
	position:fixed;
	top:1.5vh;
	right:2vw;
}

.btn {
}

@media (max-width:900px) {
	.navbar-brand {
		font-size:5vw;
	}
}

.navbar-brand {
	font-size:3vw;
}


.carousel-inner > .item > img {
	position:relative;
	width:100vw;
	height:100vh;
}
	
.articleLink:hover, .profileLink:hover {
	text-decoration:none;
}

.carousel-control {
	visibility:hidden;
}
